/* Teal Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #00897b;
  --primary-hover: #00796b;
  --primary-focus: rgba(0, 137, 123, 0.125);
  --primary-inverse: #fff;
}

/* Teal Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #00897b;
    --primary-hover: #009688;
    --primary-focus: rgba(0, 137, 123, 0.25);
    --primary-inverse: #fff;
  }
}

/* Teal Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #00897b;
  --primary-hover: #009688;
  --primary-focus: rgba(0, 137, 123, 0.25);
  --primary-inverse: #fff;
}

/* Teal (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

/* Gray-Teal */
.gray-teal {
  background-color: #e9f2f277;
}
/* ------------------- */

/* Centered container */
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* News container */
.news-container {
  display: flex;
  background-color: #e9f2f277;
  align-items: center;
  margin-left: 15%;
  margin-top: 10%;
}
/* highlight when hovering */
.hover-highlight:hover {
  background-color: #00897b30;
}

/* navbar margins 
.desktop-navbar {
  margin-left: 8rem;
  margin-right: 8rem;
}
.small-navbar {
  margin-left: 3rem;
  margin-right: 3rem;
} */

/* skip navigation link*/

.skip-navigation {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip-navigation:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
}

/* Styles for screens wider than 992 pixels */
@media (min-width: 992px) {
  /* CSS rules for large screens go here */
  body {
    width: 100%;
    margin-left: 8rem;
    margin-right: 8rem;
  }
}
